@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
}

.main {
  display: flex;
  border: 100px;
  padding-left: 100px;
  padding-top: 100px;
  padding-right: 100px;
  font-size: 16px;

}

.skills {
  flex: 50%;
  padding: 20px;
  height: 250px;
  cursor: pointer;
  transition: 1s;
}

.skills:hover {
  transform: scale(1.1);
}


.skills h1 {
  color: rgb(22, 72, 237);
}

.pull-right {
  float: right;
}

.w3-border {
  border: 1px solid #e71ebf !important;
  background-color: #eab3e3 !important;

}

.w3-colored {
  color: #000 !important;
  background-color: #e71ebf !important;
}

.Experiences {
  display: flex;
  border: 100px;
  padding-left: 100px;

  padding-right: 100px;
  font-size: 16px;

}

.Experience {
  flex: 50%;
  padding-top: 0px;
  padding-bottom: 100px;
  padding-right: 20px;
  cursor: pointer;
  transition: 1s;
}

.professional {
  text-align: center;
  color: rgb(22, 72, 237);
}

.Experience:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1141px) {
  .inner {

    font-size: 10px;
  }
}

@media screen and (max-width: 934px) {
  .inner {

    font-size: 8px;
  }
}

@media screen and (max-width: 788px) {
  h1 {

    font-size: 16px;
    padding: 0;
  }

  .main {
    padding-left: 25px;
  }
}

@media screen and (max-width: 556px) {

  .main {
    flex-direction: column;
  }

  .Experiences {
    flex-direction: column;
    padding-left: 25px;
  }

  .professional {
    text-align: left;
    padding-left: 25px;
  }

  .skills {
    padding-left: 0;
  }

}

@media screen and (max-width: 380px) {
  .prof {
    padding-top: 100px;
  }
}

@media screen and (max-width: 312px) {
  .prof {
    padding-top: 200px;
  }
}

@media screen and (max-width: 270px) {
  .prof {
    padding-top: 300px;

  }

  .professional {
    padding-bottom: 20px;
  }
}